.pagination {
  float: right;
  margin-right: 45px;
  margin-bottom: 45px;
  .pag-button {
    border-radius: .25rem;
    border: 1px solid #6c757d;
    display: inline-block;
    padding: .375rem .75rem;
    color: white;
    background-color: #6c757d;
    cursor: pointer;
    margin-right: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;;
    &:hover {
      background-color: #545b62;
      border-color: #545b62;
    }
  }
  .pag-disabled {
    pointer-events: none;
  }
  .pag-num {
    display: inline-block;
  }
}
