.search-bar {
  display: inline-block;
  width: 600px;
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .18);
  .search-input {
    border: none !important;
    box-shadow: none !important;
    margin-left: 15px !important;
    padding: 10px 5px !important;
    box-sizing: border-box !important;
    outline: none !important;
  }
  ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  ul::before {
    content: "";
  }
  li {
    padding: 10px 5px;
    cursor: pointer;
    color: black;
    &:hover {
      background-color: rgba(128, 128, 128, 0.20);
    }
  }
}
